body, ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.border-black {
  border: 1px solid black;
}
.con-max-width {
  max-width: 1680;
}
.con {
width: 1680px;
}